---
import { feedInstagram, type Datum } from "../data/feed";
import Layout from "../layouts/Layout.astro";
const instagram = feedInstagram.data;
const IG_USER_ID = "24256380850683666";
const ACCESS_TOKEN =
  "IGAASlsCRthKFBZAE1ibGxRRE5pY1JzY2lUTjJTVXNNSnNpX2oyMkY0QkV4ZAFpzUm95Um9OTk5zd3FMZADhUVGZAXZAWJSZAXdVWWVscjlxMllsQjVWa2dGSDJ3RkdQTGNtd2VDbzhTTG5hNHhSTGFCczhIeU1ldFBuTlQ2QWlHdFBzQQZDZD";

const url = `https://graph.instagram.com/${IG_USER_ID}/media?fields=id,caption,media_type,media_url,permalink,timestamp,thumbnail_url&access_token=${ACCESS_TOKEN}`;
// const url = `https://graph.instagram.com/v23.0/${IG_USER_ID}/media?fields=id,caption,media_type,media_url,permalink,timestamp,thumbnail_url&limit=10&access_token=${ACCESS_TOKEN}`;

const res = await fetch(url);
if (!res.ok) {
  console.log(
    new Response(JSON.stringify({ error: "Error al consultar Instagram" }), {
      status: 500,
    }),
  );
}
const data = await res.json();
---

<Layout title="About — Claudvs">
  <main class="mx-auto max-w-2xl px-6 py-16 prose">
    <h1>About</h1>
    <h1>API</h1>
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      {
        data.data.map((image: Datum) => (
            <a href={image.permalink} class="group">
              {image.media_type === 'IMAGE' ? (
                <img
                  src={image.media_url}
                  alt={image.id}
                  class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
                />
              ): (
                <video src={image.media_url}></video>
              )}
              <h3 class="mt-4 text-sm text-gray-700 text-wrap">{image.caption}</h3>
            </a>
        ))
      }
    </div>
    <h1>JSON LOCAL</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      {
        instagram.map((image: Datum) => (
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src={image.media_url}
              alt=""
            />
          </div>
        ))
      }
    </div>
  </main>
</Layout>
